<html>
    <head>
        <title>Twitter time machine service</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="keywords" content="Twitter, old, statuses, time machine, tweets">
        <link rel="stylesheet" type="text/css" href="" />
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
        <script src="/src/js/main.js"></script>

    </head>
    <body>
        <h1>Hello world</h1>
        <input id="ttm-user-btn" type="text" value="greenlool">
        <input id="ttm-since-btn" type="text" value="2013-05-01">
        <input id="ttm-until-btn" type="text" value="2013-09-01">
        <button id="ttm-submit-btn">Show</button>
    </body>
</html>